.container {
    background-color: #0F0F0F;
    padding: 2rem;
}

.menu {
    align-items: center;
    display: flex;
    justify-content: space-evenly;
    list-style: none;
}

.menuItem a {
    color: #ffffff;
    text-decoration: none;
}

.imgContainer{
    margin-right: 68rem;
    margin-bottom: -150px;
}
.menuInput {
    display: flex;
    align-items: center;

    height: 35px;
    width: 300px;
}

.imgContainer {
    background: linear-gradient(to bottom right, #70FF00 0%, rgba(255, 255, 255, 0.00) 50%) bottom right / 50% 50% no-repeat, linear-gradient(to bottom left, #70FF00 0%, rgba(255, 255, 255, 0.00) 50%) bottom left / 50% 50% no-repeat, linear-gradient(to top left, #70FF00 0%, rgba(255, 255, 255, 0.00) 50%) top left / 50% 50% no-repeat, linear-gradient(to top right, #70FF00 0%, rgba(255, 255, 255, 0.00) 50%) top right / 50% 50% no-repeat;
}

.bgIcones{
    background-color: #850000;
    border-radius: 50px;
    cursor: pointer;
    padding: 10px; 
    display: flex;
}


.menuInput{
    border-radius: 5px;
    display: block;
}

.pesquisaAtiva{
    display: none;
}

/*Botões menu */
.menuProdutos{
    display: flex;
    justify-content: space-evenly;

    list-style: none;
    
}

.itemProdutos a{
    text-decoration: none;
    color: #ffffff;
    font-size: 1.5rem;
}

.hamburgerMenu {
    display: none;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 6px 0;
}

/* Menu Móvel */
.mobileMenu {
    display: none;
    background-color: #0F0F0F;
    padding: 2rem;
}

/* Mostra o menu móvel quando a classe menuMobileActive é aplicada ao container */
.menuMobileActive .mobileMenu {
    display: block;
}

.iconsContainer {
    display: flex;
    align-items: center;
    margin-left: 43rem;
}

.menuItem {
    margin-right: 30px; /* Adicione o espaçamento desejado entre os ícones */
    margin-bottom: 50px;
}



/* Mostra o botão do menu hamburguer para telas pequenas */
@media screen and (max-width: 900px) {
    .hamburgerMenu {
        display: block;
    }

    /* Esconde o menu desktop em telas pequenas */
    .menuProdutos {
        display: none;
    }

    .imgContainer{
        margin-left: 56rem;
        margin-bottom: -50px;
    }
    
    .bgIcones{
        display: none;
    }

    
    .mobileMenu ul li {
        list-style: none; /* Remove os pontos dos links */
        margin-bottom: 15px;
        margin-left: 35px;
    }
    
    .mobileMenu ul li a {
        text-decoration: none;
        color: #ffffff;
        font-size: 1.5rem; 
    }

    .mobileIconsContainer {
        display: flex;
        flex-direction: column;
        align-items: right;
        margin-left: 36px;
        
    }
    
    .mobileIconsContainer .menuItem {
        margin-top: 10px; /* Adicione margem superior entre os ícones */
        background-color: #850000;
        border-radius: 100%;
        width: 30%;
        padding: 2.5px;
    }
    
    
}


