@import "/node_modules/slick-carousel/slick/slick.css"; 
@import "/node_modules/slick-carousel/slick/slick-theme.css";
* {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    vertical-align: baseline;
}